html {
  background-color: #4c5f6b;
  color: whitesmoke;
  text-align: center;
}

h1 {
  color: whitesmoke;
}

#emoji {
  font-size: 5rem;
  margin: 0;
}

button {
  background-color: rgb(135, 15, 15);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  filter: brightness(0.8); /* Decrease brightness on hover */
}

.board {
  display: inline-block;
}
.row {
  display: flex;
  gap: 0.4rem;
  margin-top: 0.4rem;
}

.tile {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #e0e0e0;
  color: transparent;
  /* color: black; */
  border-radius: 0.4rem; /* Add rounded corners to the board */
}

.tile.revealed {
  background: darkgrey;
  color: black;
}

.tile.flagged {
  color: black;
}

.neighbours-1.revealed {
  color: blue;
}

.neighbours-2.revealed {
  color: green;
}

.neighbours-3.revealed {
  color: red;
}

.neighbours-4.revealed {
  color: navy;
}

.neighbours-5.revealed {
  color: maroon;
}

.neighbours-6.revealed {
  color: teal;
}

.neighbours-7.revealed {
  color: black;
}

.neighbours-8.revealed {
  color: slategray;
}
